.wrapper {
  margin-right: 24px;
  margin-bottom: 25px;
}

li {
  margin-top: 10px;
  border-radius: 3px;
}

button {
  background-color: #0e246d !important;
  width: 50%;
  right: 0px;
  margin-top: 22px;
}

img {
  height: 80px;
  width: 80px;
}

.game {
  margin-left: 25px;
}

.game p {
  margin-bottom: 0px;
}
