<div class="wrapper">
  <div class="card row">
    <div class="card-body col">
      <h2>Make a post!</h2>
      <p class="card-text">
        To create a new post, press the 'create post' button.
      </p>
      <button
        class="btn btn-primary"
        (click)="checkIfLoggedIn()"
        routerLink="/postcreate"
        routerLinkActive="active"
      >
        Create post
      </button>
    </div>
  </div>
  <div class="card row filters-card">
    <div class="card-body col">
      <h2>Submit a game!</h2>
      <p class="card-text">
        To submit a new game, press the 'submit game' button.
      </p>
      <button
        class="btn btn-primary"
        (click)="checkIfLoggedIn()"
        routerLink="/gamecreate"
        routerLinkActive="active"
      >
        Submit game
      </button>
    </div>
  </div>
  <div class="card row filters-card">
    <div class="card-body col">
      <h2>Filter and sort!</h2>
      <p class="card-text">
        The posts can be filtered and sorted in a number of ways. Find a filter
        that applies to you and select it!
      </p>
      <!-- Selector for associated game -->
      <label for="associatedgame">Filter by game:</label>
      <p>
        <select [(ngModel)]="selected">
          <option *ngFor="let game of games" [ngValue]="game">
            {{ game.name }}
          </option>
        </select>
      </p>
      <label for="sort">Sort by:</label>
      <p>
        <select [(ngModel)]="selectedsort">
          <option value="likesdesc">Most likes</option>
          <option value="likesasc">Least likes</option>
          <option value="dislikesdesc">Most dislikes</option>
          <option value="dislikesasc">Least dislikes</option>
        </select>
      </p>
      <button class="btn btn-primary" (click)="filter(); sort()">Filter</button>
      <button class="btn btn-primary" (click)="clearFilters()">
        Clear filters
      </button>
      <!-- End of selector for associated game -->
    </div>
  </div>
</div>
