<div class="wrapper">
  <div class="card post-card">
    <h4>Register account</h4>
    <div *ngIf="hasError" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
    <!-- Input for username -->
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        required
        [(ngModel)]="user.username"
        name="username"
      />
    </div>
    <!-- End of input for username -->

    <!-- Input for password -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        class="form-control"
        type="password"
        id="password"
        required
        [(ngModel)]="user.password"
        name="password"
      />
    </div>
    <!-- End of input for password -->
    <!-- Checkbox to make user agree to terms and conditions -->
    <div class="form-check form-group">
      <input
        class="form-check-input"
        type="checkbox"
        [(ngModel)]="agreed"
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        I agree to the
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
          >terms and conditions</a
        >.
      </label>
    </div>
    <!-- End of checkbox to make user agree to terms and conditions -->
  </div>
  <button (click)="backClicked()" class="btn btn-success bottom-button">
    Back
  </button>
  <button (click)="validate()" class="btn btn-success bottom-button">
    Register
  </button>
</div>
