.wrapper {
  margin-bottom: 25px;
  margin-right: 10px;
}

.content {
  margin-top: 10px;
  margin-left: -15px;
}

.post-card {
  padding: 12px 35px;
}

button {
  background-color: #0e246d !important;
  margin-right: 16px;
  width: 30%;
}

.bottom-button {
  margin-top: 15px;
}

.text-muted {
  font-size: 14px;
}

img {
  width: 80px;
  height: 80px;
}

.image-col {
  padding: 0px;
  margin-left: 10px;
}

.title-date-col {
  padding-right: 0px;
  padding-left: 0px;
}

label {
  font-weight: bold;
}

.icon img {
  width: 100%;
  height: 100%;
  justify-content: center;
  cursor: pointer;
}

.karma {
  margin-bottom: 0px;
}

.like-dislike-col {
  padding-left: 11px;
}
