.wrapper {
  margin-right: 24px;
  margin-bottom: 25px;
}

li {
  margin-top: 10px;
  border-radius: 3px;
}

button {
  background-color: #0e246d !important;
  width: 15%;
}

.text-muted {
  font-size: 14px;
}

img {
  height: 80px;
  width: 80px;
}

.list-group-item {
  padding: 12px 35px;
}

.icon img {
  width: 100%;
  height: 100%;
  justify-content: center;
  cursor: pointer;
}

.postcontent {
  padding-left: 5px;
}

.karma {
  margin: auto;
}

.like-dislike-col {
  padding-left: 5px;
}
