<div style="width: 400px; margin: auto">
  <div *ngIf="currentPost" class="edit-form">
    <h4>Post</h4>
    <form>
      <label *ngIf="!isDisabled" for="title">Title</label>
      <div *ngIf="!isDisabled" class="form-group">
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentPost.title"
          name="title"
        />
      </div>
      <label *ngIf="!isDisabled" for="description">Description</label>
      <div *ngIf="!isDisabled" class="form-group">
        <textarea
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentPost.content"
          name="description"
          style="height: 200px"
        ></textarea>
      </div>
    </form>

    <div *ngIf="isDisabled" class="card post-card">
        <h5>{{ currentPost.title }}</h5>
        <p>{{ currentPost.content }}</p>
    </div>

    <button
      class="btn btn-primary"
      *ngIf="isDisabled"
      (click)="isDisabled = false"
    >
      Edit
    </button>
    <button
      *ngIf="!isDisabled"
      class="btn btn-primary"
      (click)="isDisabled = true"
    >
      Cancel
    </button>

    <button
      *ngIf="!isDisabled"
      type="submit"
      class="btn btn-primary"
      (click)="updatePost()"
      routerLink="/postlist"
      routerLinkActive="active"
    >
      Update
    </button>

    <button
      *ngIf="!isDisabled"
      class="btn btn-primary mr-2"
      (click)="deletePost()"
    >
      Delete
    </button>
  </div>

  <div *ngIf="!currentPost">
    <br />
    <p>Cannot access this post...</p>
  </div>
</div>
