button {
  background-color: #0e246d !important;
  margin-top: 15px;
  margin-right: 16px;
  width: 30%;
}

.post-card {
  padding: 12px 35px;
}

.wrapper {
  margin-bottom: 25px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: -15px;
}

.bottom-button {
  margin-top: 15px;
}

.bottom-col {
  padding: 0px;
}
